PORT=5000
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=eltrekoapp
DATABASE_URL=
DB_SSL=true
JWT_SECRET=zmien_to_na_silny_sekret
UPLOAD_DIR=uploads
SUPABASE_URL=
SUPABASE_ANON_KEY=
